<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXUpdatesCheckOnLaunch</key>
	<string>ALWAYS</string>
	<key>EXUpdatesEnabled</key>
	<true/>
	<key>EXUpdatesLaunchWaitMs</key>
	<integer>4000</integer>
	<key>EXUpdatesURL</key>
	<string>https://u.expo.dev/2021c9d7-dd0b-4c29-8a9d-da78153a1d49</string>
	<key>EXUpdatesRuntimeVersion</key>
	<string>48.0.0</string>
	<key>EXUpdatesReleaseChannel</key>
	<string>main</string>
</dict>
</plist>
